project:
  type: website
  output-dir: docs

website:
  title: "OGH2023 Material"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: OGH_Foundation.qmd
      - about.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    link-external-newwindow: true

editor: visual

